body {
    box-shadow: 0 0 0.3em #0f67ab;
}

h1 {
    font-size: 60px;
    color: #fff;
    float: left;
    margin-top: 36px;
}

p {
    font-size: 20px;
}

.footer {
    background: none repeat scroll 0 0 #4389bf;
    font-size: 14px;
}

.logo {
    float: left;
    margin: 11px 20px 0;
}

#logo-wrapper {
    min-height: 150px;
    background-color: #4389bf;
}

#jokes-wrapper {
    
}

.jokes {
    display: block;
    overflow: auto;
    width: 45%;
    padding: 20px;
    margin-bottom: 30px;
}

.joke1 {
    float: left;
}

.joke2 {
    float: right;
}

.joke1:hover, .joke2:hover {
    border-radius: 10px;
    background-color: #8594a0;
    color: #fff;
    cursor: pointer;
}

.text1 {
    font-size: 24px;
    padding: 12px;
}