#jokes-wrapper {
    
}

.jokes {
    display: block;
    overflow: auto;
    width: 45%;
    padding: 20px;
    margin-bottom: 30px;
}

.joke1 {
    float: left;
}

.joke2 {
    float: right;
}

.joke1:hover, .joke2:hover {
    border-radius: 15px;
    background-color: #888;
    color: #fff;
    cursor: pointer;
}

.text1 {
    font-size: 18px;
    padding: 12px;
}